/* Reset and variables
**************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-orange: #f76c5e;
  --light-orange: #f68e5f;
  --light-grey: #e0e0e0;
  --dark-grey: #383838;
  --white: white;
  --black: black;
  --red: #a32d18;
  --green: #70c63a;
  --half-black: rgba(0, 0, 0, 0.4);
  --radius-small: 10px;
  --radius-normal: 20px;
  --text-size-huge: 3em;
  --text-size-big: 1.8em;
  --text-size-normal: 1.2em;
}

/* Global Structure
**************************** */

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section,
header,
footer {
  width: 100%;
}

header {
  background: var(--light-orange);
  padding: 20px 20px;
  color: var(--white);
}

header h1 {
  font-size: var(--text-size-huge);
  margin-bottom: 10px;
}

header h2 {
  font-size: var(--text-size-big);
}

main {
  margin: 10px 0px;
}

main h2 {
  display: inline-block;
  margin-bottom: 10px;
  font-size: var(--text-size-big);
  background: var(--white);
  border-radius: var(--radius-small);
  color: var(--dark-orange);
  padding: 5px 10px;
}

footer {
  padding: 20px 20px;
  background-color: var(--light-orange);
  color: var(--white);
  font-weight: bold;
}

/* General form style
**************************** */

form > div:not(:last-child) {
  margin-bottom: 25px;
}

form input[type="button"],
form input[type="text"],
form input[type="email"],
form input[type="submit"] {
  background: var(--white);
  border-radius: var(--radius-small);
  color: var(--dark-orange);
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  transition: background-color 0.2s;
}

form input:focus {
  outline: dashed 2px var(--dark-grey);
}

form input:hover:not(:disabled) {
  outline: solid 2px var(--dark-grey);
}

form input:active:not(:disabled) {
  background: var(--light-grey);
}

form input[type="button"]:hover,
form input[type="submit"]:hover {
  cursor: pointer;
}

form input[type="text"]:hover {
  cursor: text;
}

form input[type="text"]::placeholder {
  opacity: 1;
}

form input:disabled {
  background: var(--light-grey);
  cursor: not-allowed !important;
}

/* Loading class for rotating icon
**************************** */

.loading {
  color: var(--white);
  display: flex;
  visibility:hidden
}

.loading:before {
  content: " ";
  display: block;
  visibility: visible;
  width: 0.8em;
  height: 0.8em;
  margin-top: 0.2em;
  box-sizing: border-box;
  border-radius: 50%;
  border: 4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: loading-rotate 1s linear infinite;
}

/* Display or not a flexible element with active class 
**************************** */
.active {
  display: flex !important;
}

/* Animations true and false
**************************** */

@keyframes wrong_answer {
  from {
    background-color: var(--red);
  }

  to {
    background-color: var(--light-grey);
  }
}

@keyframes right_answer {
  from {
    background-color: var(--green);
  }

  to {
    background-color: var(--light-grey);
  }
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  80%{
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes appear {
  0% {
    transform: translate(-50%, 0%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}